html {
    box-sizing: border-box;/*para que el padding y el margin no modifique los tamaños*/
    font-size: 62.5%; /* 1REM = 10px  TRUCO*/ 
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
h1, 
h2, 
h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 2rem 0;
}

img{ /*para que las imagenes sean responsive*/
    max-width: 100%; /*turco*/
    display: block;
}
h1 {
    font-size: 3.8rem;
}
/** Responsive  Mobile First **/
@media (width > 768px){
    h1{
        font-size: 4rem;
    }
}
h2 {
    font-size: 3.2rem;
}
@media (width > 768px){
    h2{
        font-size: 4rem;
    }
}
h3{
    font-size: 2.4rem;
}
@media (width > 768px){
    h3{
        font-size: 3rem;
    }
}
a{
    text-decoration: none;
    color: #000;
}
.btn{
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
.btn:hover{
    background-color: #769c02;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
@media (width > 768px){
    .btn{
        width: auto;
    }
}
/*Utilidades*/
.text-center{
    text-align: center;
}
@media (width > 768px){
    .max-width-30{
        max-width: 30rem;
    }
}
.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
}
.nombre-sitio span {
    color: #037bc0;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto; /*margin-inline: auto*/
}

.nav-principal {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
/** Header y Navegacion **/
@media (width > 768px){
    .nav-principal {
        justify-content: space-between;
        flex-direction: row;
    }
}
.hero{
    background-image: url('../img/principal.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
}
@media (width > 768px){
    .hero{
        height: 55rem;
    }
}
.contenedor-navegacion {
    border-top: .1rem solid #e1e1e1;
}
.categoria img{
    width: 100%;
}
@media (width > 768px){
    .listado-categorias{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
    }
}

/** Categorias **/
.categorias {
    padding: 5rem 0;
}
.categoria a{
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover{
    background-color: #037bc0;
    color: #fff;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.categoria {
    margin-bottom: 2rem;
}

/** Bloque Nosotros */
.sobre-nosotros {
    background-image: linear-gradient( to bottom, transparent 50%, #037bc0 50%, #037bc0 100% ), url(../img/nosotros.jpg);
    background-position: center, top left;
    background-repeat: no-repeat;
    background-size: 100%, 70rem;
    
}
@media (width > 768px){
    .sobre-nosotros{
        background-image: linear-gradient( to right, transparent 50%, #037bc0 50%, #037bc0 100% ), url(../img/nosotros.jpg);
        background-position: center, center left;
        background-repeat: no-repeat;
        background-size: 100%, 120rem;
    }
}
.sobre-nosotros-grid{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}
@media (width > 768px){
    .sobre-nosotros-grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: unset;
    }
}
.texto-nosotros{
    grid-row: 2/3;
    padding: 5rem;
    color: #fff;
}
@media (width > 768px){
    .texto-nosotros{
        grid-column: 2/3;
        
    }
}
/** Listado de Productos **/
@media (width > 768px){
    .listado-productos{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 2rem;
    }
    .productos:nth-child(1) img{
        height: 43rem;
        width: 100%;
        object-fit: cover;
    }
    .productos:nth-child(1){
        grid-column: 1/7; 
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .productos:nth-child(2){
        grid-column: 1/4; 
    }
    .productos:nth-child(2) img, .productos:nth-child(3) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    .productos:nth-child(3){
        grid-column: 4/7; 
    }
    .productos:nth-child(4){
        grid-column: 1/3; 
    }
    .productos:nth-child(5){
        grid-column: 3/5; 
    }
    .productos:nth-child(6){
        grid-column: 5/7; 
    }
}
.contenido-principal {
    padding-top: 5rem;
}
.texto-producto h3{
    margin: 0;
}
.texto-producto p{
    margin: 0 0 .5rem;
}

.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}
.productos {
    background-color: #037bc0;
    margin-bottom: 2rem;
}

.texto-producto{
    text-align: center;
    color: #fff;   
    padding: 2rem;
}

/** Footer **/
@media (width > 768px){
    .grid-footer{
        display: flex;
        /*display:grid
        grid-template-columns: repeat(3, 1fr);*/
        gap: 2fr;
    }
    .site-footer h3 {
        text-align: center;
    }
}
.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}
.site-footer h3 {
    margin-bottom: .5rem;
    text-align: center;
}

.grid-footer div{
    flex: 1; /*factor de crecimiento del div*/
}
.grid-footer > div {
    margin-bottom: 2rem;
}
@media (width > 768px){
    .footer-menu a {
        text-align: left;
    }
}
.footer-menu a {
    display: block;
    text-align: center;
}
.copyright {
    margin-top: 5rem;
    text-align: center;
}
/** Nosotros **/
.contenido-nosotros{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 4rem;
}
@media (width > 768px){
    .informacion-nosotros{
        padding: 0;
    }
}
.informacion-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/** Blog **/
@media (width > 768px){
    .contenedor-blog{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}
.entrada{
    border-bottom: 2px solid #e1e1e1;
    padding-bottom:  4rem;
    margin-bottom: 2rem;
}
@media (width > 768px){
    .entrada h2{
        text-align: left;
    }
}
.entrada h2{
    text-align: center;
}
.entrada:last-of-type{
    border-bottom: none;
}
@media (width > 768px){
    .entrada-meta{
        display: flex;
        justify-content: space-between;

    }
}
.contenedor-blog{
    padding: 2rem;
}
.entrada-meta p{
    font-weight: 700;
}
.entrada-meta span{
    color: #037bc0;
}
/** Entrada **/
.contenido-entrada-blog{
    width: 60rem;
    margin: 0 auto;
}
/** Galeria **/
.galeria{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
@media (width > 768px){
    .galeria{
        grid-template-columns: repeat(3,1fr);
    }
}
    
.galeria img{
    height: 40rem;
    width: 40rem;
    object-fit: cover;
}
/** Formulario **/
.formulario{
    max-width: 60rem;
    margin: 0 auto;
}
.formulario fieldset{
    border: 1px solid #000;
    margin-bottom: 2rem;
}
.formulario legend{
    background-color: #037bc0;  
    text-transform: uppercase;
    color: #fff ;
    font-weight: 900;
    width: 100%;
    padding: 1rem;
    margin-bottom: 4rem;
}
.campo{
    display: flex;
    margin-bottom:  2rem;
}
.campo label{
    flex-basis: 10rem;
}
.campo input:not([type="radio"]),
textarea, select{
    flex:1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}
